* {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#techs {
    display: none;
    font-size: 48px;
}

#tech:hover{
    cursor: pointer;
}

#cloz {
    display: none;
}

#cloz:hover{
    cursor: pointer;
}